{% extends "cirno.html" %}

{% block content %}
<p>Рецепт сырников от Сырно:</p>
<p></p>
<p>Ингридиенты:</p>
<ul>
    <li>Творог - 350г.</li>
    <li>Мука - 5 ст. ложек</li>
    <li>Яйца - 2 шт.</li>
    <li>Сахар - 2 ст. ложки</li>
    <li>Подсолнечное масло - 5 ст. ложек</li>
</ul>
<p>Приготовление:</p>
<ol>
    <li>Смешайте творог, яйца и сахар</li>
    <li>Добавьте муку и хорошо перемешайте</li>
    <li>Разогрейте сковороду и налейте в нее масло</li>
    <li>Слепите сырники и обжарьте их до золотистости</li>
    <li>Повторяйте процесс, пока тесто не закончится</li>
</ol>
{% endblock %}